name: Update Passkey Domains

on:
  schedule:
    - cron: '0 2 * * *'  # täglich um 2 Uhr (UTC)
  workflow_dispatch:      # manuelles Auslösen möglich

jobs:
  scrape:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v4
        working-directory: ./scraper
        with:
          node-version: '20'

      - name: Install Dependencies
        run: npm install
        working-directory: ./scraper

      - name: Run Scraper
        run: node index.js
        working-directory: ./scraper

      - name: Commit & Push
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git add scraper/sites.json
          git commit -m "Update sites.json [auto]" || echo "No changes"
          git push
